<div class="header_container">
  <div class="introduction_container">
    <div class="img_container">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQFHyUljW9kP0w/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1685456462637?e=1740009600&v=beta&t=IkU9HKlYDXe46EdGX9VizZVKFRpRUOzoVJrxf3oCtLE" alt="">
    </div>
    <div class="name_container">
      <h1>Thúllyo Barcellos</h1>
    </div>
    <div class="typewriter">
      <h2>Desenvolvedor Back-end Java</h2>
    </div>
  </div>
</div>