<div class="header_container">
  <div class="introduction_container">
    <div class="img_container">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQFHyUljW9kP0w/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1685456462637?e=1748476800&v=beta&t=8xb7IjZ38dDYn0tauV73Gz0MxcAChDB-IF_u7f_SdsY" alt="">
    </div>
    <div class="name_container">
      <h1>Thúllyo Barcellos</h1>
    </div>
    <div class="typewriter">
      <h2>Desenvolvedor Back-end Java</h2>
    </div>
  </div>
</div>
